* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.background-color {
    background-color: #ffc624;
} 

/*Index*/
    /*Intro*/
        /*Grid*/   
            .disenos {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: auto;
                grid-column-gap: (0.7rem);
                grid-row-gap: (0.7rem);
            }
        /*Transiciones*/
            .transitionText {
                display: flex;
                align-items: center;
                align-self: center;
                align-content: center;
                opacity: 0;
                background-color: #ffc624;
                transform: translate(-50%,-50%)
                                
            }
            .transitionText:hover, .transitionText:focus-within {
                opacity: 1;
                transform: scale(1,1);
                transform: translate(-50%, -50%);
                background-color: #ffc624;

            }
        /*Disenos*/
                                     
              .disenos {
                display: grid;
                grid-template-columns: repeat(4-1fr, minmax(150px, 1fr));
                /* grid-template-columns: repeat(auto-fit, minmax(min(100%,300px), 1fr));
                grid-auto-rows: auto;*/
                grid-gap: 10px;
              }
              
              .disenos img {
                width: 100%;
                border-radius: 15px;
              }
    /*Footer*/
              .button1:hover, .button:focus-within {
                  align-content: center;
                  transform: translate(360deg);
                  transform: scale(2,2);
                  transition-timing-function: 2seg;
              }

              .button1 {
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              

              
/*1Disenos*/
              .container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-gap: 0.7rem;
              }  

              .col {
                width: 100%;
              }

              