/* Each */
.color1 header {
  background-color: #00006f !important;
}

.color1 header .form-control {
  background-color: #00006f !important;
  width: 100%;
  margin: 0px;
}

.color1 .boton-nav {
  color: #00006f;
}

.color1 main {
  background-color: #0040c0 !important;
}

.color1 main .form-control {
  background-color: #0040c0 !important;
  width: 100%;
  margin: 0px;
}

.color1 .boton-nav {
  color: #0040c0;
}

.color1 footer {
  background-color: #009cf5 !important;
}

.color1 footer .form-control {
  background-color: #009cf5 !important;
  width: 100%;
  margin: 0px;
}

.color1 .boton-nav {
  color: #009cf5;
}

.color2 header {
  background-color: #6a274d !important;
}

.color2 header .form-control {
  background-color: #6a274d !important;
  width: 100%;
  margin: 0px;
}

.color2 .boton-nav {
  color: #6a274d;
}

.color2 body {
  background-color: #ff7891 !important;
}

.color2 body .form-control {
  background-color: #ff7891 !important;
  width: 100%;
  margin: 0px;
}

.color2 .boton-nav {
  color: #ff7891;
}

.color2 footer {
  background-color: #95325c !important;
}

.color2 footer .form-control {
  background-color: #95325c !important;
  width: 100%;
  margin: 0px;
}

.color2 .boton-nav {
  color: #95325c;
}

/* Condicionales + Maps */
/*   @if $colores1 == diaPar {
  } @else if $colores1 == diaImpar {
  } */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

.body {
  background-color: #ffc624;
  font-size: 20px;
}

.navbar-brand {
  max-width: 10rem;
  max-height: 10rem;
}

.nav-link {
  color: wheat !important;
}

/* Each */
.color1 header {
  background-color: #00006f !important;
}

.color1 header .form-control {
  background-color: #00006f !important;
  width: 100%;
  margin: 0px;
}

.color1 .boton-nav {
  color: #00006f;
}

.color1 main {
  background-color: #0040c0 !important;
}

.color1 main .form-control {
  background-color: #0040c0 !important;
  width: 100%;
  margin: 0px;
}

.color1 .boton-nav {
  color: #0040c0;
}

.color1 footer {
  background-color: #009cf5 !important;
}

.color1 footer .form-control {
  background-color: #009cf5 !important;
  width: 100%;
  margin: 0px;
}

.color1 .boton-nav {
  color: #009cf5;
}

.color2 header {
  background-color: #6a274d !important;
}

.color2 header .form-control {
  background-color: #6a274d !important;
  width: 100%;
  margin: 0px;
}

.color2 .boton-nav {
  color: #6a274d;
}

.color2 body {
  background-color: #ff7891 !important;
}

.color2 body .form-control {
  background-color: #ff7891 !important;
  width: 100%;
  margin: 0px;
}

.color2 .boton-nav {
  color: #ff7891;
}

.color2 footer {
  background-color: #95325c !important;
}

.color2 footer .form-control {
  background-color: #95325c !important;
  width: 100%;
  margin: 0px;
}

.color2 .boton-nav {
  color: #95325c;
}

/* Condicionales + Maps */
/*   @if $colores1 == diaPar {
  } @else if $colores1 == diaImpar {
  } */
/*Index*/
.progress {
  margin: 35px;
}

.cont-progress {
  padding: 45px;
}

/*Intro*/
/*Grid*/
/*Disenos*/
/* .disenos {
  display: grid;
  grid-template-columns: repeat(4-1fr, minmax(150px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(min(100%,300px), 1fr));
    grid-auto-rows: auto;
  grid-gap: 10px;
  img {
    width: 100%;
    border-radius: 15px;
  }
}*/
/*Footer*/
.button1:hover,
.button:focus-within {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transform: translate(360deg);
          transform: translate(360deg);
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  -webkit-transition-timing-function: 2seg;
          transition-timing-function: 2seg;
}

.button1:hover .button1,
.button:focus-within .button1 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button1:hover .button1 a,
.button:focus-within .button1 a {
  font-size: 25px;
}

/*1Disenos*/
/* .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.7rem;
  .col {
    width: 100%;
  }
} */
/*Transiciones*/
.example {
  position: relative;
  padding: 0;
  /* width: 300px; */
  display: block;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
}

.example .content {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: #1c87c9;
  background-color: #ffc624;
  width: 100%;
  height: 100%;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  border-radius: 15px;
}

.example .content .text {
  height: 0;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.example .content .example .content:hover .text {
  opacity: 1;
  -webkit-transform: translateY(250px);
          transform: translateY(250px);
}

.example .content:hover {
  opacity: 1;
}

.example .content:hover .text {
  opacity: 1;
  -webkit-transform: translateY(250px);
          transform: translateY(250px);
}

.nav-item,
.adj-file {
  font-size: 28px !important;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
  box-sizing: 0;
}

.background-color {
  background-color: #ffc624;
}

.navbar-nav .nav-link {
  color: white !important;
}

/*Index*/
/*Intro*/
/*Grid*/
/*Transiciones*/
.transitionText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-line-pack: center;
  align-content: center;
  opacity: 0;
  background-color: #ffc624;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.transitionText:hover,
.transitionText:focus-within {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffc624;
}

/*Disenos*/
.disenos img {
  width: 100%;
  border-radius: 15px;
}

/*Footer*/
.button1:hover,
.button:focus-within {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transform: translate(360deg);
  transform: translate(360deg);
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2);
  -webkit-transition-timing-function: 2seg;
  transition-timing-function: 2seg;
}

.button1 {
  height: 10vh;
  width: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button1 a {
  width: 100%;
  height: 100%;
  font-size: 40px;
}

.button1 a:hover {
  text-decoration: none;
}

.form-control {
  background-color: inherit;
  font-size: 20px;
}

.Father {
  font-size: 25px;
}

.nav-item {
  margin: 5px;
}

.boton-nav {
  margin: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
}

/*1Disenos*/
/* .container-dis {
  display: -ms-grid;
  display: grid;
  //-ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  // -ms-grid-rows: (1fr) [3];
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.7rem;
} */
.col {
  width: 100%;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}

.table th,
.table td {
  text-align: center !important;
}

/* 2 Estilos */
.carousel-item {
  -o-object-fit: cover;
     object-fit: cover;
}

.img-carousel {
  height: 40rem;
}

.select-remera {
  font-size: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */